# ================================
# General Node / Yarn / pnpm
# ================================
**/node_modules/
**/.pnp/
**/.pnp.*
.pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Yarn v2+
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# ================================
# Frontend (Next.js)
# ================================
frontend/.next/
frontend/out/
frontend/.turbo/
frontend/next-env.d.ts

# ================================
# Backend (Express + TS)
# ================================
backend/dist/

# ================================
# Common
# ================================
*.tsbuildinfo
.env*
!.env.example

# Tests
**/coverage/
**/nyc_output/

# IDE & system
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db

# Vercel
.vercel

# Build output
/build/
